::selection {
    background: lightsalmon;
    color: #111;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

audio {
    width: 80%;
    transition-duration: 0.4s;
}

body {
    background-color: #222;
    font-family: 'Fira Sans', sans-serif; 
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color: lightgray;
}

h2 {
    text-align: center;
    color: lightgray;
}

h3 {
    text-align: center;
    color: lightgrey;
}

text {
    overflow-wrap: break-word;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 22px;
    width: 100%;
    max-width: 1000px;
    color: rgb(177, 177, 177);
    text-align: justify;
}

object {
    display: flex;
    z-index: 9;
    height: 100vh;
    width: 100vw;
}

.row {
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    max-width: 70vw;
}

.card {
    background-color: #111;
    justify-content: center;
    align-content: center;
    display: inline-block;
    border: 2px solid transparent;
    color: lightgrey;
    transition-duration: 0.2s;
    border-radius: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 1rem;
    height: 400px;
    width: 300px;
}

.card:hover {
    color: lightsalmon;
    border: 2px solid lightsalmon;
    cursor: pointer;
}

.card:hover audio {
    width: 100%;
    margin-bottom: 20px;
}

.card:hover .sharebtn {
    background-color: lightsalmon;
    height: 40px;
}

.card:hover .sharetxt {
    color: #111;
}

.cardicon {
    fill: lightsalmon;
    margin: auto;
    border-radius: 15px;
    margin-top: -23px !important;
    width: 100px;
}

.cardimg {
    margin: auto;
    border-radius: 15px;
    margin-top: -23px !important;
    width: 150px;
}

.cardtext {
    text-decoration: none;
    color: inherit;
    margin-top: 40px;
}

.center {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    margin: 75px;
}

.cover {
    border-radius: 100%;
    max-width: 300px;
    width: 50%;
}

.floater {
    position: fixed;
    float: right;
    width: 80px;
    top: 85vh;
    left: 90vw;
    z-index: 9999;
}

.floaterbtn {
    background-color: lightsalmon;
    border: none;
    transition-duration: 0.4s;
    border-radius: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 10px;
    height: 80px;
    width: 80px;
}

.floaterbtn:hover {
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.floatericon {
    fill: #111;
    transition-duration: 0.4s;
    height: 35px;
    width: 35px;
}

.homeimg {
    top: -10px;
    left: 73.8vw;
    height: 500px;
    width: 500px;
    position: absolute;
}

.icon {
    fill: lightgray;
    transition-duration: 0.4s;
    height: 25px;
    width: 25px;
}

.link {
    text-decoration: none;
    transition-duration: 0.2s;
    color: rgb(177, 177, 177);
}

.link:hover {
    color: lightsalmon;
}

.lost {
    display: flex;
    z-index: 9;
    height: 100vh;
    width: 100vw;
}

.textmuted {
    color: gray;
}

.titlebig {
    color: lightsalmon;
    font-size: 2rem;
}

.titlesmall {
    color: lightsalmon;
    font-size: 1.6rem;
}

.sharebtn {
    height: 0px;
    width: 50%;
    background-color: #111;
    margin: auto;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding-top: 15px;
}

.sharebtn:hover {
    background-color: lightgrey !important;
}

.sharetxt {
    text-decoration: none;
    color: lightgrey;
    transition-duration: 0.4s;
    margin: auto;
}

.sidebar {
    background-color: transparent;
    position: fixed;
    float: left;
    width: 80px;
    top: 33%;
    z-index: 9999;
}

.sidebtn {
    background-color: transparent;
    color: lightgrey;
    border: none;
    transition-duration: 0.4s;
    height: 80px;
    width: 80px;
    margin: 10px;
    top: 50%;
}
.sidebtn:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sidebtn:hover .icon {
    fill:lightsalmon;
}

.footer {
    background-color: #111;
}

.footertext {
    font-size: 1rem !important;
    margin: 10px;
    width: 100%;

}

@media screen and (max-width:1200px) {
    audio {
        width:90%;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.8rem;
    }

    .floater {
        top: 90%;
        left: 80%;
    }

    .floaterbtn {
        height: 160px;
        width: 160px;
    }

    .floatericon {
        height: 80px;
        width: 80px;
    }

    .sidebar {
        background-color: #333;
        justify-content: center;
        align-content: center;
        display: flex;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        width: 100vw;
        top: 0%;
    }

    .sidebtn {
        height: 150px;
        width: 150px;
    }

    .mobilespacer {
        padding: 75px;
    }

    .row {
        max-width: none;
        display: block;
        margin-top: 50px;
    }

    .card {
        display: flex;
        margin: auto;
        margin-bottom: 50px;
        height: 400px;
        width: 100%;
    }

    .cardicon {
        fill: lightsalmon;
        margin-right: 0px;
        margin-left: 120px;
        margin-top: 120px !important;
        height: 150px;
        width: 150px;
    }
    
    .cardimg {
        margin-right: 0px;
        margin-left: 20px;
        margin-top: 20px !important;
        height: 350px;
        width: 350px;
    }
    
    .cardtext {
        text-decoration: none;
        color: inherit;
        margin: auto;
    }

    .icon {
        height: 4rem;
        width: 4rem;
    }

    .carddesc {
        display: inline-block;
        margin-top: 175px;
        width: 70%;
    }
    
    .acarddesc {
        left: -500px;
        margin-top: 75px;
        width: 70%;
    }
    
    .acardicon {
        fill: lightsalmon;
        margin: auto;
        border-radius: 15px;
        margin-top: 120px !important;
        width: 100px;
        z-index: 9;
    }
    
    .acardtext {
        text-decoration: none;
        color: inherit;
        margin-top: 40px;
    }

    .sharebtn {
        background-color: lightsalmon;
        height: 60px;
        width: 90%;
        border-radius: 25px;
    }

    .sharetxt {
        color:#111;
        font-size: 36px;
    }

}